.form-title, .form-subtitle {
  color: #000000;
  text-align: center;
  font-weight: 400;
}
.form-title {
  font-size: size(60);
  line-height: size(65);
}
.form-subtitle {
  @include mid-text;
  margin-bottom: size(26);
}
//Form styles
div.wpcf7 input,
div.wpcf7 textarea {
  @include input-text;
  @include input-style;
}
div.wpcf7 textarea {
  height: size(239);
  border-radius: 35px;
  padding: 12px size(50);
}
div.wpcf7 input[type="text"] {
  background-image: url("../iconsall/form-name.png");
}
div.wpcf7 input[type="email"] {
  background-image: url("../iconsall/form-mail.png");
}
div.wpcf7 input[type="tel"] {
  background-image: url("../iconsall/form-tel.png");
}
div.wpcf7 input[type="submit"] {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../iconsall/form-submit.png");
  color: #ffffff;
  @include medium-title;
  font-weight: 400;
  text-align: center;
  background-position: 7px center;
  background-repeat: no-repeat;
  white-space: normal;
  padding: 4px size(40) 4px size(55);
  background-color: #030303;
  transition: transform .5s;
  &:hover {
	transform: scale(0.95, 0.95);
	transition: transform .5s;
  }
}
.wpcf7-form {
  * {
	direction: rtl !important;
  }
  ::placeholder {
	@include input-text;
  }
  ::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
	@include input-text;
  }
}
@mixin big-input-text {
  font-size: size(28);
  line-height: size(30);
}
.acceptance-col {
  label {
	display: flex !important;
	justify-content: flex-start;
	align-items: center;
	margin-top: -1rem;
  }
  input[type="checkbox"] {
	width: 13px;
	height: auto;
	box-shadow: unset;
	min-width: 13px;
	margin-left: 7px;
	border: 1px solid #000000;
  }
  span {
	color: #000000;
	@include small-text;
	text-align: right;
  }
}
.repeat-form-block {
  box-shadow: 0 4px 29px 3px rgba(0, 0, 0, 0.45);
  background-color: $main-pink;
  padding: size(54) 0 15px 0;
  margin: 20px 0;
  background-image: url("../img/form-back.png");
  @include back-img;
  .wpcf7-form {
	::placeholder {
	  @include big-input-text;
	}
	::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
	  @include big-input-text;
	}
  }
  div.wpcf7 input {
	@include big-input-text;
	height: size(52);
	background-size: size(41);
	padding-right: size(56);
  }
  div.wpcf7 input[type="submit"] {
	padding: 3px size(56);
  }
  .acceptance-col {
	label {
	  justify-content: center;
	}
	input[type="checkbox"] {
	  width: 19px;
	  min-width: 19px;
	  margin-left: 10px;
	}
	span {
	  @include mid-text;
	}
  }
}
.blog-form {
  .repeat-form-block {
	background-color: #232323;
  }
  .form-title, .form-subtitle {
	color: #ffffff;
  }
  .acceptance-col {
	span {
	  color: #ffffff;
	}
  }
  div.wpcf7 input[type="submit"] {
	background-color: $main-pink;
	background-image: url("../iconsall/form-submit-dark.png");
	color: #000000;
  }
}
.post-form-col {
  .close-form {
	display: none;
  }
  .wpcf7-form {
	::placeholder {
	  @include small-text;
	}
	::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
	  @include small-text;
	}
  }
  div.wpcf7 input {
	@include small-text;
	height: size(35);
	background-size: size(26);
	padding-right: size(36);
  }
  div.wpcf7 input[type="submit"] {
	background-size: size(28);
	padding: 3px size(35);
	font-size: size(22);
	line-height: size(24);
  }
  .acceptance-col {
	input[type="checkbox"] {
	  width: 10px;
	  min-width: 10px;
	  margin-left: 5px;
	}
	span {
	  font-size: size(13);
	  line-height: size(16);
	}
  }
  .form-title {
	font-size: size(43);
	line-height: size(42);
  }
  .form-subtitle {
	@include small-text;
	margin-bottom: size(26);
  }
}
.shop-form-col {
  flex: 0 0 100% !important;
  max-width: 100% !important;
  .form-wrapper {
	padding: 26px 16px !important;
  }
  .form-row .col-md-10 {
	flex: 0 0 100%;
	max-width: 100%;
  }
}
.contact-page-form {
  box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.24);
  background-color: #454545;
  padding: size(40) size(65) 25px size(65);
  .form-title, .form-subtitle {
	color: #ffffff;
  }
  div.wpcf7 input {
	background-size: size(36);
  }
  div.wpcf7 input[type="submit"] {
	background-size: size(39);
	background-color: $main-pink;
	background-image: url("../iconsall/form-submit-dark.png");
	color: #000000;
  }
  .acceptance-col {
	label {
	  justify-content: center;
	}
	span {
	  color: #ffffff;
	}
  }
}
footer {
  div.wpcf7 input {
	height: size(58);
	background-size: size(44);
  }
  div.wpcf7 input[type="submit"] {
	margin-right: -1rem;
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
	font-size: size(20);
	color: #fff;
	padding-right: 20px;
	line-height: size(22);
	font-weight: 700;
  }
  div.wpcf7 input[type="email"] {
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
  }
}
