#MainNav{
  ul{
	display: flex;
	li{
	  @include d-center;
	  padding: 0 size(15);
	  border-left: 1px solid #000000;
	  a{
		@include d-center;
		font-size: size(20);
		line-height: size(20);
		color: #000000;
		transition: text-shadow .5s;
		&:hover {
		  color: #000000;
		  text-shadow: 1px 0 0 #000000;
		  transition: text-shadow .5s;
		}
	  }
	  &:last-child  {
		border-left: none;
	  }
	}
  }
}
header {
  z-index: 99999;
}
.header-top {
  background-color: #000000;
  padding: 10px;
}

.brand-link-wrap {
  @include d-center;
  img {
	max-height: size(43);
  }
}
.msg-link {
  @include d-center;
}
.msg-text {
  color: $main-pink;
  @include base-text;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
}
.header-bottom {
  box-shadow: 0 0 47px 3px rgba(0, 0, 0, 0.18);
  background-color: #ffffff;
  padding: 3px 0;
}
.header-btn {
  @include d-center;
  position: relative;
  .count-circle {
	position: absolute;
	right: -5px;
	top: -5px;
	width: 18px;
	height: 18px;
	border: 1px solid #000000;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	background-color: #000000;
	font-size: 13px;
	font-weight: 700;
	border-radius: 50%;
  }
  img,
  svg {
	width: size(43);
	min-width: size(40);
  }
}
.logo {
  @include d-center;
  img {
	max-height: size(50);
  }
}
.triggers-col {
  position: fixed;
  z-index: 9999999;
  left: size(31);
  top: 15%;
  @include d-center;
  flex-direction: column;
}
.trigger-item {
  @include d-center;
  width: size(73);
  cursor: pointer;
  margin-bottom: 13px;
}
.pop-trigger {
  cursor: pointer;
}
.form-wrapper {
  filter: drop-shadow(0px 4px 16px rgba(0,0,0,0.45));
  background-color: $main-pink;
  padding: size(50) 10% size(30) 10%;
  .acceptance-col {
	label {
	  justify-content: center;
	  margin-top: -1rem;
	}
  }
}
.pop-form, .pop-form-product {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 999999999999;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.6);
  transition: opacity .5s;
  &.show-popup {
	opacity: 1;
	pointer-events: all;
	transition: opacity .5s;
  }
}
.curr-body-hidden {
  overflow: hidden;
}
.float-form, .float-product {
  position: relative;
  width: 100%;
  max-height: 95vh;
  transition: all .5s;
  z-index: 66;
  transform: translateY(-100%);
  overflow-y: auto;
  opacity: 0;
  padding: size(16);
  &.show-float-form{
	opacity: 1;
	transform: translateY(0);
  }
}
.pop-flower {
  width: 10rem;
  position: absolute;
  left: -4rem;
  z-index: 444;
  top: -2rem;
}
.close-form {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  z-index: 10;
  img {
	width: 16px;
  }
}
.close-pop {
  position: absolute;
  right: 7px;
  top: 7px;
  z-index: 10;
  cursor: pointer;
  img {
	width: 18px;
  }
}




//Footer
#go-top {
  position: absolute;
  right: 5%;
  top: -1.5rem;
  @include d-center;
  cursor: pointer;
  z-index: 8888;
  min-width: size(62);
  width: size(62);
  height: size(62);
  border: 3px solid #000000;
  background-color: $main-pink;
  border-radius: 50%;
  animation: jump-top 1.2s ease-in-out alternate infinite;
}
.to-top-text {
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 13.68px;
  text-align: center;
}
//Footer
.footer-main {
  position: relative;
  padding: size(55) 0 size(20) 0;
  background-color: $main-pink;
}
.foo-menu {
  padding-top: size(56);
}
.foo-form-title, .foo-form-subtitle {
  margin-bottom: 0;
  color: #000000;
  text-align: center;
}
.foo-form-title {
  @include base-title;
  font-weight: 400;
  text-align: center;
}
.foo-form-subtitle {
  @include medium-title;
}
.foo-logo-col {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
footer {
  position: relative;
  li {
	-webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
	page-break-inside: avoid; /* Firefox */
	break-inside: avoid-column;
	position: relative;
	margin-bottom: 10px;
	padding-right: 20px;
	&:before {
	  position: absolute;
	  top: 5px;
	  right: 0;
	  content: '>';
	  display: inline-block;
	  font-size: size(21);
	  line-height: size(22);
	  font-weight: 400;
	  color: #000000;
	}
	a {
	  font-size: size(21);
	  line-height: size(22);
	  font-weight: 400;
	  color: #000000;
	  transition: color .5s;
	}
	a:hover {
	  color: #000000;
	  text-shadow: 1px 0 0 #000000;
	  cursor: pointer;
	  transition: text-shadow .5s;
	}
  }
  .contact-list li {
	padding-right: 0;
	a {
	  display: flex;
	  align-items: center;
	}
	&:before {
	  display: none;
	}
	.fas, .fab, .far {
	  margin-left: 13px;
	  font-size: size(24);
	  color: #000000;
	}
  }
}
.pay-row {
  padding: size(20) 0;
  background-color: #fff;
}
.pay-col {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  img {
	max-height: size(53);
  }
}
//Menu
header {
  position: relative;
  z-index: 12345;
  background-color: #ffffff;
  .hamburger {
	padding: 0;
	display: flex;
	margin-left: size(20);
  }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after,
  .hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {
	background-color: #000000;
  }
}
.drop-menu {
  display: none;
  position: absolute;
  right: 0;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 22px size(47);
  background-color: #ffffff;
  box-shadow: -2px 2px 20px -1px #010000;
  width: auto;
  z-index: 99999999999;
  top: 100%;
  overflow-y: auto;
}
.menu-item-drop {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 40px;
  &:hover {
	.menu-drop-title {
	  color: $main-pink;
	  transition: color .5s;
	}
  }
}
.menu-icon-wrap {
  @include d-center;
  width: size(98);
  height: size(98);
  background-image: url("../img/menu-icon-back.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.menu-icon-inside {
  @include d-center;
  padding: size(15) size(30);
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}
.menu-drop-title {
  color: #000000;
  font-size: size(18);
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(22);
  text-align: center;
  transition: color .5s;
}
