.faq {
  padding: size(50) 0 0 0;
  .card {
	border: none !important;
  }
  .question-card {
	margin-bottom: 24px;
  }
  .answer-body {
	padding: size(20) size(54) size(20) size(33);
  }
}
.faq-img-col {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.faq-content-col {
  padding-bottom: size(50);
}
.question-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: size(61);
  border-radius: size(31);
  border: 2px solid #000000 !important;
  background-color: #FFF;
  padding-left: size(43);
}
.faq-body-title {
  @include mid-text;
  color: $text-color;
  text-align: right;
}
.question-header {
  border-radius: 0;
  background-color: transparent;
}
.arrow-top {
  position: absolute;
  left: size(17);
  width: size(26);
  transition: transform .5s;
}
.arrow-bottom {
  transform: scale(1, -1);
  transition: transform .5s;
}
.faq-icon {
  @include d-center;
  background-color: #000000;
  border-radius: 50%;
  padding: size(15);
  width: size(48);
  height: size(48);
  margin-left: 15px;
  font-size: size(38);
  text-align: center;
  font-weight: 700;
  color: $main-pink;
}
//Slider styles
.slider-img-col {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
	width: 100%;
  }
}
.reverse-slider {
  .content-slider-row {
	flex-direction: row-reverse;
  }
}
//Post card
.card-post {
  position: relative;
  padding: 0;
  margin-bottom: 45px;
  box-shadow: -3px 0 38px rgba(36, 48, 32, 0.18);
  &:hover {
	.card-post-overlay {
	  opacity: 0;
	  transition: opacity .5s;
	}
	.post-card-title {
	  color: $main-pink;
	  transition: color .5s;
	}
	.post-card-text {
	  color: #ffffff;
	  transition: color .5s;
	}
	.post-card-content {
	  background-color: #000000;
	  transition: background-color .5s;
	}
  }
}
.post-img {
  position: relative;
  @include d-center;
  width: 100%;
  @include back-img;
  &:after {
	content: '';
	display: block;
	padding-bottom: 50%;
  }
}
.card-post-overlay {
  @include overlay;
  background-color: rgba(255, 255, 255, 0.45);
  transition: opacity .5s;
}
.post-card-content {
  background-color: $main-pink;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 16px 10% 19px 10%;
  flex-grow: 1;
  transition: background-color .5s;
}
.post-card-title {
  color: #000000;
  font-size: size(17);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(20);
  text-align: center;
  margin-bottom: 10px;
  transition: color .5s;
}
.post-card-text {
  color: #000000;
  font-size: size(16);
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(20);
  text-align: center;
}
//Video modal
.video-modal {
  .modal {
	z-index: 9999999999999999999999;
  }
  .modal-body {
	position: relative;
	padding: 0;
  }
  .modal-content {
	background: none;
	border: none;
  }
  .modal-backdrop {
	z-index: 10;
  }
  .close {
	position: absolute !important;
	top: -50px;
	right: -50px;
	width: 50px;
	height: 50px;
  }
  .modal .close-icon {
	padding: 0;
	margin: 0;
	font-size: 3rem;
  }
  .modal-body{
	iframe{
	  width: 100%;
	  height: 500px;
	  position: relative;
	}
  }
}
//Slider
.slick-prev:before, .slick-next:before {
  color: transparent;
}
.arrows-slider {
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	background-size: size(30);
	background-position: center;
	background-repeat: no-repeat;
	z-index: 33;
	top: unset;
	@include d-center;
	width: size(48);
	height: size(48);
	border-radius: 50%;
	background-color: #0a0a0a;
	bottom: -4rem;
  }
  [dir="rtl"] .slick-next {
	background-image: url("../iconsall/arrow-left.png");
  }
  [dir="rtl"] .slick-prev {
	background-image: url("../iconsall/arrow-right.png");
  }
}
.reviews-block {
  [dir="rtl"] .slick-next {
	left: 0;
  }
  [dir="rtl"] .slick-prev {
	right: 0;
  }
}
.base-slider-block {
  padding: size(150) 0;
  [dir="rtl"] .slick-next {
	left: 0;
  }
  [dir="rtl"] .slick-prev {
	right: calc(100% - 6rem);
  }
}
.video-slider-block {
  [dir="rtl"] .slick-next {
	left: 4rem;
  }
  [dir="rtl"] .slick-prev {
	right: 4rem;
  }
}
.slider-img-col  {
  @include d-center;
  img {
	border-radius: size(29);
	width: 100%;
  }
}
//Gallery
.gallery-line-flex {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}
.gallery-item {
  flex: 0 0 25%;
  max-width: 25%;
  padding: 1.5px;
}
.gallery-image, .gallery-video {
  position: relative;
  @include d-center;
  width: 100%;
  @include back-img;
}
.home-gallery-video {
  position: relative;
  @include d-center;
  width: 100%;
  @include back-img;
  &:after {
	content: '';
	display: block;
	padding-bottom: 75.8%;
  }
}
.gallery-image:after, .gallery-video:after {
  content: '';
  display: block;
  padding-bottom: 75.8%;
}
.insta-item {
  padding: 1.5px;
  box-shadow: -3px 0 38px rgba(36, 48, 32, 0.31);
  background-color: #ffffff;
  flex-grow: 1;
  img {
	width: size(100);
	margin-bottom: 8px;
  }
}
.insta-item-wrap {
  @include d-center;
  flex-direction: column;
  height: 100%;
  padding: 15px;
}
.insta-subtitle, .insta-title {
  color: #000000;
  text-align: center;
}
.insta-title {
  font-family: $almoni-tzar;
  font-size: size(30);
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(32);
  margin-bottom: 10px;
}
.insta-subtitle {
  @include base-text;
  font-weight: 700;
}
.gallery-video-overlay {
  @include overlay;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.39);
}
.play-button {
  @include overlay;
  @include d-center;
  z-index: 5;
  img {
	width: size(89);
  }
}
.gallery-img-video {
  margin: size(70) 0;
}

//Slider gallery product/opt
.big-slider-item, .thumb-item {
  display: flex;
  width: 100%;
  @include back-img;
  &:after {
	content: '';
	padding-bottom: 81%;
	display: block;
  }
}
.thumb-item {
  &:after {
	padding-bottom: 91%;
  }
}
//Product page accordion
@mixin acc-title {
  font-size: size(25);
  font-weight: 700;
  font-family: $open-sans;
  line-height: size(28);
  color: $text-color;
}
.product-item-info{
  .card{
	border: none;
  }
  .card-header{
	padding: 0;
	background: #fff;
	border-radius: 0;
	border: none;
	border-bottom: 2px solid $main-pink;
  }
  h5{
	text-align: right;
	position: relative;
	button{
	  display: flex;
	  justify-content: flex-start;
	  align-items: center;
	  @include acc-title;
	  text-align: right;
	  width: 100%;
	  padding: 12px 0 12px 25px;
	  border: none;
	  transition: color .5s;
	  text-decoration: none !important;
	  &:hover{
		color: $main-pink;
		transition: color .5s;
	  }
	  &:after{
		content: '+';
		font-weight: 700;
		font-size: 25px;
		margin-right: 10px;
		//position: absolute;
		//left: 0;
		//top: 0;
		color: $text-color;
		height: 100%;
		display: flex;
		align-items: center;
	  }
	}
  }
  .card{
	&.active{
	  button {
		&:after{
		  content: '-';
		}
	  }
	}
  }
  .card-body {
	padding: 1rem 0 1rem 0;
  }
}
.socials-share {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
}
.share-text {
  @include acc-title;
}
.social-share-link {
  @include d-center;
  margin: 0 7px;
  .fab, .far {
	color: $text-color;
	font-size: 25px;
	transition: color .5s;
  }
  &:hover {
	.fab, .far,  {
	  color: $main-pink;
	  transition: color .5s;
	}
  }
}
.title-small {
  @include acc-title;
  font-size: size(18);
}
.product_title {
  @include base-title;
  color: #000000;
  margin-bottom: size(40);
}
.product-pop-title {
  font-size: size(34);
  line-height: size(38);
  color: #000000;
  margin-bottom: size(30);
}
//Product
.woocommerce #respond input#submit, .woocommerce a.button,
.woocommerce button.button, .woocommerce input.button
.product-summary .single_add_to_cart_button, .show-prod-preview, .single_add_to_cart_button {
  height: size(39) !important;
  display: flex!important;
  align-items: center;
  justify-content: center;
  color: $main-pink;
  border-radius: 11px !important;
  background-color: #000000 !important;
  box-shadow: unset;
  transition: background-color .5s;
  &:hover{
	background-color: $main-pink !important;
	transition: background-color .5s;
	span {
	  color: #000000;
	  transition: color .5s;
	}
  }
  span{
	color: $main-pink;
	font-size: size(25);
	line-height: size(30);
	font-weight: 400;
	transition: color .5s;
  }
  &.clicked {
	background-color: $main-pink !important;
	color: #000000 !important;
  }
}
.single_add_to_cart_button {
  box-shadow: unset;
  border: none;
}
.show-prod-preview {
  box-shadow: none;
  border: 1px solid $main-pink;
  background-color: $main-pink !important;
  span {
	color: #000000 !important;
  }
  &:hover {
	border: 1px solid #000000;
	background-color: transparent !important;
	transition: background-color .5s;
  }
}
.custom-btn-wrap {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 14px;
  .show-prod-preview, button.single_add_to_cart_button {
	@include d-center;
	height: unset !important;
	padding: 3px 5px !important;
	span {
	  font-size: size(13);
	  line-height: size(15);
	}
	width: 49%;
  }
}
.product-summary{
  .qty-wrap{
	width: 130px;
	//margin: 0 8px;
  }
  .yith-wcwl-add-to-wishlist{
	margin-top: 0;
	a{
	  width: 57px;
	  height: size(39);
	  background-color: transparent;
	  display: flex!important;
	  padding: 0;
	  align-items: center;
	  justify-content: center;
	  i{
		color: #000000 !important;
		margin: 0!important;
	  }
	}
  }
}
.item-wishlist, .in-wishlist {
  width: 59px;
  height: 41px;
  border: none;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  svg{
	min-width: 42px;
	width: 42px;
	height: 36px;
	fill: #000000;
  }
  &.has-tooltip {
	svg{
	  fill: $main-pink !important;
	}
  }
  .tooltiptext {
	display: none;
  }
}
.yith-wcwl-wishlistaddedbrowse {
  display: flex;
  a{
	width: auto!important;
	white-space: nowrap;
	border: none;
	font-size: 13px;
	color: #000000;
	padding: 0 5px!important;
  }
  .feedback{
	font-size: 0;
	width: 59px;
	height: 41px;
	border-radius: 5px;
	border: none;
	background-color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 5px;
	i{
	  color: #000000;
	  font-size: 27px!important;
	}
  }
}
.qty-wrap {
  height: size(39);
  border-radius: 11px;
  border: 1px solid #454545;
  background-color: #ffffff;
  overflow: hidden;
  display: flex;
  input{
	width: 35px;
	height: size(39);
	text-align: center;
	background-color: #ffffff;
	color: #fff;
  }
  input, .plus, .minus{
	flex: auto;
	cursor: pointer;
	font-size: size(25);
	font-weight: 700;
	background-color: #ffffff;
	color: $text-color;
  }
  .plus, .minus{
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all .5s;
  }
}
.vari-price {
  display: none;
}
.put-price-here, .price-card {
  .vari-price {
	display: flex;
  }
}
@mixin small-price-card {
  color: #000000;
  font-size: size(15);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(18);
  text-align: center;
}
.price-card {
  @include d-center;
  flex-wrap: wrap;
  .price-title {
	display: block;
	@include small-price-card;
  }
}
.wrapper-product-wish {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
.vari-card {
  cursor: pointer;
  @include d-center;
  padding: 5px;
  margin-left: 7px;
  border-radius: 11px;
  background-color: #333333;
  border: 1px solid #333333;
  transition: background-color .5s;
  .vari-title {
	color: #ffffff;
	line-height: size(35);
	text-align: center;
	text-transform: uppercase;
	font-size: size(22);
	font-weight: 700;
	font-style: normal;
	letter-spacing: normal;
	transition: color .5s;
  }
  &.vari-ml {
	.vati-title {
	  text-transform: lowercase;
	}
  }
  &.choose-var {
	background-color: $main-pink;
	transition: background-color .5s;
	.vari-title {
	  color: #333333;
	  transition: color .5s;
	}
  }
}
@mixin price-title {
  @include medium-title;
  color: #515151;
  font-weight: 700;
}
.vari-name, .price-title {
  @include price-title;
}
.price-title {
  display: none;
}
.put-price-here-place, .put-price-here {
  @include d-center;
  flex-wrap: wrap;
}
.put-price-here {
  min-height: 43px;
  margin-bottom: size(33);
  border-radius: 22px;
  border: 1px solid #454545;
  background-color: $main-pink;
  //min-width: 80%;
  padding: 3px 10px;
  .price-title {
	display: block;
	@include price-title;
  }
  .woocommerce-Price-currencySymbol {
	text-decoration: none !important;
  }
  .price {
	flex-direction: row-reverse;
  }
  .price, .woocommerce-Price-amount {
	display: flex;
	align-items: center;
	justify-content: center;
	@include price-title;
	text-decoration: none;
	del, bdi {
	  margin: 0 5px;
	  span{
		@include price-title;
		font-weight: 300;
		text-decoration: line-through;
	  }
	}
	ins {
	  margin: 0 0 0 5px;
	  text-decoration: none;
	  span{
		@include price-title;
	  }
	}
  }
}

.woocommerce div.product p.price, .woocommerce div.product span.price {
  @include small-price-card;
}
.put-price-here-place .woocommerce-Price-amount:first-child {
  font-weight: 700 !important;
  .woocommerce-Price-currencySymbol {
	font-weight: 700 !important;
  }
}
.put-price-here-place .woocommerce-Price-amount:last-child {
  font-weight: 300;
  text-decoration: line-through;
}
.put-price-here-place .woocommerce-Price-amount:last-child {
  bdi {
	span:not(.woocommerce-Price-currencySymbol) {
	  font-weight: 300 !important;
	  text-decoration: line-through;
	}
  }
}
.put-price-here-place .vari-price .woocommerce-Price-amount:first-child {
  font-weight: 300 !important;
  .woocommerce-Price-currencySymbol {
	font-weight: 300 !important;
  }
}
.woocommerce div.product form.cart {
  width: 100%;
}

//Product card
.card-has-white {
  .product-small-card .top {
	background-color: #ffffff;
  }
}
.product-small-card {
  background-color: transparent;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &:hover{
	.top {
	  box-shadow: 0 0 20px 2px rgba(35, 35, 35, 0.25);
	  transition: box-shadow .5s;
	}
  }
  img {
	max-height: 85%;
	height: unset;
	max-width: 80%;
  }
  a{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-decoration: none;
  }
  .top {
	position: relative;
	@include d-center;
	height: 230px;
	box-shadow: 0 0 20px 2px rgba(35, 35, 35, 0.15);
	border-radius: size(35);
	background-color: #fff5f4;
	transition: box-shadow .5s;
	margin-bottom: size(28);
	img {
	  max-height: 200px;
	}
  }
  .bottom {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-grow: 1;
	.woocommerce-LoopProduct-link {
	  width: 100%;
	  padding-bottom: 5px;
	  border-bottom: 1px solid $main-pink;
	  margin-bottom: 3px;
	}
  }
  picture{
	max-height: 100% !important;
	max-width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 25px;
  }
  .woocommerce-loop-product__title {
	color: #000000;
	font-size: size(15);
	font-weight: 700;
	font-style: normal;
	letter-spacing: normal;
	line-height: size(18);
	text-align: center;
	margin-bottom: 13px;
  }
  span.onsale{
	display: none;
  }
  .in-wishlist {
	position: absolute;
	left: 14px;
	top: 14px;
	width: 21px;
	background-color: transparent;
  }
  .product-summary .single_add_to_cart_button {
	height: unset !important;
	min-height: size(23);
	span {
	  font-size: size(13);
	  line-height: size(15);
	}
  }
  .qty-wrap {
	height: unset;
	min-height: 23px;
	input, .plus, .minus {
	  @include small-price-card;
	  color: $text-color;
	  background-color: $main-pink;
	}
	.plus, .minus {
	  min-width: 20px;
	}
  }
}
.card-vars-wrap {
  position: absolute;
  left: 20px;
  bottom: 5px;
  z-index: 7;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  .vari-card.vari-ml {
	background-color: transparent;
	border: none;
	margin: 0 2px;
	&.chosen-var {
	  .vari-title {
		font-weight: 700;
	  }
	}
  }
  .vari-card .vari-title {
	font-weight: 400;
	font-size: size(15);
	line-height: size(18);
  }
  .vari-card.vari-ml {
	color: #000000;
	text-transform: lowercase;
  }
  .vari-card:not(.ml) {
	min-width: 25px;
	height: 21px;
	border-radius: 10px;
	padding: 2px;
  }
}
.cart-animation-helper {
  margin: 0 20%;
  width: 0;
  height: 0;
  z-index: 999999999999999;
  position: absolute;
  &:after{
	opacity: 0;
	border-radius: 0;
	max-height: 19px;
	max-width: 19px;
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	display: block;
	height: 19px;
	width: 19px;
	background-color: $main-pink;

	transition:
			transform 0.8s ease-out,
			margin 0.8s ease-out,
			opacity 0.8s ease-out,
			border-radius 0.4s ease-out,
			max-height 0.4s ease-out,
			max-width 0.4s ease-out;
  }
}




//Sidebar on shop
.sidebar-cats {
  box-shadow: 4px 5px 8px rgba(0, 0, 0, 0.35);
  border-radius: 20px;
  border: 1px solid #454545;
  background-color: #fefefe;
  .card {
	border: none !important;
	background-color: transparent;
	&.active-card {
	  background-color: $main-pink;
	}
  }
  .accordion-trigger {
	position: absolute;
	left: 0;
  }
  .arrow-top {
	@include d-center;
	position: unset;
	left: unset;
	width: 14px;
  }
  .card-header {
	padding: 0.75rem 1.25rem;
	margin-bottom: 0;
	background-color: transparent;
	border: none;
	@include d-center;
  }
  .card-body {
	display: flex;
	flex-direction: column;
	align-items: center;
  }
}
.subcat-item a {
  color: #000000;
  font-size: size(15);
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(20);
  text-align: center;
  transition: font-weight .5s;
  &:hover {
	color: #000000;
	font-weight: 400;
	transition: font-weight .5s;
  }
}
.prod-cat-title {
  @include base-text;
  text-align: center;
  color: #000000;
  transition: font-weight .5s;
  &:hover {
	color: #000000;
	font-weight: 700;
	transition: font-weight .5s;
  }
}
.woocommerce-message::before {
  color: $main-pink;
}
.woocommerce-message {
  border-top-color: $main-pink;
}
.woocommerce-info, .woocommerce-message {
  border-top-color: $main-pink;
  &:before {
	color: $main-pink;
  }
}
.woocommerce-error {
  border-top-color: #000000;
  &:before {
	color: #000000;
  }
}
.return-to-shop {
  margin-top: 2rem;
}
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
  //background-color: $main-pink;
  //color: #000000 !important;
}
