/* ----------- Non-Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1) {}
/* ----------- Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) {}


//Bootstrap 4 breakpoints
@media (min-width: 1920px) {
  #MainNav {
	ul {
	  li {
		padding: 0 size(30);
	  }
	}
  }
}
@media (min-width: 1500px) {
  .container {
	max-width: 77%;
  }
  .post-content-col {
	flex: 0 0 57%;
	max-width: 57%;
  }
  .post-form-col {
	flex: 0 0 35%;
	max-width: 35%;
  }
  .product-item-col {
	flex: 0 0 25%;
	max-width: 25%;
  }
  .drop-menu {
	max-width: 50%;
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  html{
    font-size: 20px;
  }
  .container {
	max-width: 77%;
  }
}

/* Extra large devices (large desktops, 1200px and down) */
@media (max-width: 1200px) {
  html{
    font-size: 19px;
  }
  .drop-menu {
	max-width: 60%;
  }
  .gallery-item {
	flex: 0 0 33.3%;
	max-width: 33.3%;
  }
  .reviews-image-girl {
	right: 0;
  }
}
/* Large devices (desktops, 992px and down) */
@media (max-width: 992px) {
  html{
    font-size: 19px;
  }
  .drop-menu {
	max-width: 80%;
	right: 10px;
  }
  .video-modal {
	.modal-body {
	  iframe {
		height: 400px;
	  }
	}
  }
  .gallery-slider-wrap {
	order: -1;
	margin-bottom: 2rem;
  }
  .reviews-image-girl {
	display: none;
  }
  .pop-flower {
	width: 8rem;
	left: -2rem;
	top: -4rem;
  }
  .home-category {
	flex: 0 0 50%;
	max-width: 50%;
  }
  .slider-img-col {
	margin: size(40) 0;
  }
  .h-about-col-img {
	order: -1;
	margin-bottom: size(40);
  }
  .foo-logo-col {
	justify-content: center;
	order: -1;
	margin-bottom: 1rem;
  }
}
/* Medium devices (tablets, 768px and down) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {
  html{
    font-size: 18px;
  }
  #MainNav, .col-none {
	display: none !important;
  }
  .triggers-col {
	left: 4px;
  }
  .trigger-item {
	width: size(53);
	margin-bottom: 8px;
  }
  footer {
	div.wpcf7 input[type="submit"] {
	  margin-right: 0;
	  border-radius: size(29) !important;

	}
	div.wpcf7 input[type="email"] {
	  border-radius: size(29) !important;
	}
  }
  .gallery-item {
	flex: 0 0 50%;
	max-width: 50%;
  }
}
//MOBILE
@media (max-width: 650px) {
  .pop-flower {
	display: none;
  }
  .home-category {
	flex: 0 0 100%;
	max-width: 100%;
  }
  .banner-block {
	.main-title {
	  font-size: size(50);
	  line-height: size(60);
	}
	h3.main-subtitle {
	  font-size: size(35);
	  line-height: size(42);
	}
  }
  .main-title {
	font-size: size(60);
	line-height: size(65);
  }
  .reviews-block .main-title {
	font-size: size(45);
	line-height: size(50);
  }
}
/* Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) {
  html{
    font-size: 17px;
  }
  .contact-page-form {
	padding: size(40) 15px 25px 15px;
  }
  .card-post {
	padding: 0 15px;
  }
  .question-title {
	min-height: size(41);
	border-radius: size(21);
	padding-left: size(23);
  }
  .arrow-top {
	left: 6px;
	width: 15px;
  }
  .faq-icon {
	padding: 5px;
	width: size(38);
	min-width: size(38);
	height: size(38);
	margin-left: 10px;
	font-size: 20px;
  }
  .faq-body-title {
	font-size: 1rem;
	line-height: 1.2rem;
  }
  .video-modal {
	.modal-body {
	  iframe {
		height: 300px;
	  }
	}
	.close {
	  top: -40px;
	  right: -10px;
	}
  }
  .faq .answer-body {
	padding: 20px 10px 0 25px;
  }
  .gallery-item {
	padding: 1.5px 0;
	flex: 0 0 100%;
	max-width: 100%;
  }
  .insta-item {
	padding: 0;
	flex: 0 0 100%;
	max-width: 100%;
	min-height: 350px;
  }
  .arrows-slider {
	[dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	  background-size: size(20);
	  width: size(38);
	  height: size(38);
	}
  }
}







/*
::::: Custom media queries :::::
*/

@media (max-width: 450px) {
  .video-modal {
	.modal-body {
	  iframe {
		height: 250px;
	  }
	}
  }
  .drop-menu {
	max-width: calc(100% - 20px);
  }
  .product-item-col {
	flex: 0 0 100%;
	max-width: 100%;
  }
  .insta-item {
	min-height: 280px;
  }
  .float-form {
	padding: 0;
  }
}
