$almoni-tzar: almoni-tzar, sans-serif;
$almoni: almoni, sans-serif;
$assistant: 'Assistant', sans-serif;
$open-sans-condensed: 'open sans hebrew', sans-serif;
$open-sans: 'Open-sans', sans-serif;

$font-family: $open-sans;
$font-baze: 20px;
