@import "mixins";
@import "reset";
@import "fonts";
@import "vars";
@import "colors";
@import "setup";
@import "hover";
@import "animate";
@import "header-footer";
@import "partials";
@import "forms";

body{
  font-family: $open-sans, sans-serif;
  text-align: right;
}
.page-body {
  margin-top: 120px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $almoni-tzar;
}
.wow {
  visibility: hidden;
}
.base-title {
  @include base-title;
  margin-bottom: 33px;
}
.base-text, .product-name a {
  @include base-text;
  color: $text-color;
}
.product-name a {
  font-weight: 700;
  line-height: size(22);
  display: flex;
}
.small-text {
  @include small-text;
  color: #000000;
}
.contact-info-title {
  color: #000000;
  font-size: size(21);
  line-height: size(23);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
}
.base-output {
  h1, h2, h3, h4, h5, h6 {
	color: #000000;
	font-weight: 400;
	margin-bottom: size(20);
	font-family: $almoni-tzar;
  }
  h1 {
	font-size: size(70);
	line-height: size(74);
  }
  h2 {
	@include base-title;
  }
  h3 {
	@include mid-title;
  }
  h4 {
	font-size: size(34);
	line-height: size(36);
  }
  h5 {
	font-size: size(30);
	line-height: size(32);
  }
  h6 {
	@include mid-text;
  }
  p, li {
	@include base-text;
	color: $text-color;
  }
  p {
	margin-bottom: size(36);
  }
  li {
	list-style: disc;
  }
  ul {
	margin: 1rem;
  }
}
.about-gallery-output {
  p, li {
	font-size: size(25);
	line-height: size(32);
  }
  h2 {
	font-size: size(60);
	line-height: size(65);
  }
  h3 {
	@include base-title;
  }
  h4 {
	@include mid-title;
  }
  h5 {
	font-size: size(34);
	line-height: size(36);
  }
  h6 {
	font-size: size(30);
	line-height: size(32);
  }
}
.slider-output {
  p, li {
	font-size: size(18);
	line-height: size(32);
  }
}




//Contact page
.contact-item-link {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: size(45);
}
.contact-icon-wrap {
  @include d-center;
  height: size(120);
  margin-bottom: 10px;
  img {
	max-height: 100%;
  }
}
//Blog page
.base-link, .more-link {
  @include d-center;
  color: #000000;
  font-size: size(19);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(25);
  text-align: center;
}
.more-link {
  position: relative;
  margin-bottom: 1.5rem;
  cursor: pointer;
  &:after {
	position: absolute;
	content: url("../iconsall/arrow-down.png");
	top: 100%;
	transition: top .5s;
  }
  &:hover {
	color: #000000;
	&:after {
	  top: calc(100% + 14px);
	  transition: top .5s;
	}
  }
  &.hide {
	display: none;
  }
}
.base-link {
  padding-left: size(30);
  background-image: url("../iconsall/link-arrow.png");
  background-position: 5px center;
  background-repeat: no-repeat;
  background-size: 16px;
  transition: background-position .5s;
  &:hover {
	color: #000000;
	background-position: left center;
	transition: background-position .5s;
  }
}
//Homepage
.reviews-block {
  position: relative;
  padding: size(50) 0 size(100) 0;
  background-image: url("../img/reviews-back.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.review-img {
  border-radius: size(29);
  width: 100%;
}
//Categories on homepage
.home-category {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex: 0 0 33.3%;
  max-width: 33.3%;
  filter: drop-shadow(-2.998px -0.105px 19px rgba(36,48,32,0.18));
  background-color: #ffffff;
  &:last-child {
	flex-grow: 1;
  }
}
.home-cat-img {
  @include d-center;
  padding: 20px;
  width: 100%;
  height: 340px;
  img {
	max-height: 100%;
  }
}
.home-cat-title-wrap {
  @include d-center;
  padding: 10px 20px;
  min-height: size(62);
  flex-grow: 1;
  background-color: $main-pink;
}
//Main homepage slider
.main-link {
  @include d-center;
  min-height: size(47);
  border-radius: size(23);
  filter: drop-shadow(-0.157px 2.996px 4px rgba(0,0,0,0.39));
  background-color: $main-pink;
  border: 1px solid #000000;
  background-image: url("../iconsall/form-submit-dark.png");
  background-position: 5px center;
  background-size: size(38);
  background-repeat: no-repeat;
  @include medium-title;
  color: #000000;
  font-weight: 400;
  padding: 5px size(50);
  transition: filter .5s;
  &:hover {
	color: #000000;
	filter: none;
	transition: filter .5s;
  }
}
.main-block-home {
  margin-bottom: size(80);
}
.main-title {
  font-size: size(80);
  line-height: size(85);
  margin-bottom: 25px;
  text-align: center;
  font-weight: 700;
  color: #ffffff;
  text-shadow: 3.654px -1.627px 5px rgba(86,24,42,0.75);
}
.reviews-block, .main-slider {
  .slick-slider .slick-track, .slick-slider .slick-list {
	display: flex !important;
  }
}
.main-slide {
  @include back-img;
  min-height: size(640);
  padding: size(200) 0;
}
//Banner block
.banner-block {
  background-color: #000000;
  border: 3px solid ;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: size(40) 0;
  min-height: 527px;
  .titles-wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 200px;
  }
  .main-title {
	font-size: size(70);
	letter-spacing: 3px;
	line-height: size(80);
	margin-bottom: 10px;
	text-shadow: 3.654px -1.627px 20px rgba(0,0,0,0.73);
  }
  h3.main-subtitle {
	font-size: size(45);
	line-height: size(52);
	color: #ffffff;
	text-align: center;
	font-weight: 700;
	font-family: $open-sans;
	text-shadow: 3.654px -1.627px 20px rgba(0,0,0,0.73);
  }
}
.reviews-block {
  position: relative;
  .main-title {
	font-size: size(60);
	line-height: size(70);
	color: #000000;
	text-align: right;
	margin-bottom: 10px;
	text-shadow: 3.654px -1.627px 20px rgba(255,255,255,0.73);
  }
}
.reviews-image-girl {
  position: absolute;
  right: 12%;
  bottom: 0;
  height: calc(100% + 1rem);
}


//Product wishlist
.wishlist_table.mobile li .additional-info-wrapper .move-to-another-wishlist, .wishlist_table.mobile li .additional-info-wrapper .product-add-to-cart {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  .add-to-cart-wrap {
	min-width: 30%;
  }
  .qty-wrap {
	min-width: 70%;
  }
}
//Product popup
.float-product {
  padding: 30px;
}
.pop-product-wrapper {
  position: relative;
  width: 100%;
  box-shadow: 1px 2px 29px rgba(0, 0, 0, 0.21);
  background-color: #ffffff;
  padding: 5%;
}
.put-here-pop {
  .container {
	max-width: 100% !important;
  }
}
.preloader{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
  opacity: 0;
  pointer-events: none;
  &.now-loading {
	opacity: 1;
	pointer-events: all;
  }
  &.finish-loading {
	opacity: 0;
	pointer-events: none;
  }
}
.margin-55 {
  margin: size(55) 0;
}

@import "responsive";
